*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  border: none;
}
body{
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}
.header{
  background-image: url(bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.header img{
  max-width: 100%;
  height: 10vh;
  margin-top: 5rem;
}
.bodySect1{
  text-align: center;
  margin: 0 20%;
}
.bodySect1 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.3rem;
}
.bodySect1 p{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  font-size: 1.6rem;
  color: #9fabb2;;
}
.buttonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 9rem;
  gap: 1.2rem;
}
.buttonDiv button{
  width: 250px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  flex-direction: column;
}
.buttonDiv button:first-child{
  background-color:  #26baa4;
  box-shadow: 10px 20px 20px rgba(0,0,0,0.3);

}
.buttonDiv button:last-child{
  background-color:#6173ff;   
  box-shadow: 10px 20px 20px rgba(0,0,0,0.3);
}
a{
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}
.textSect1 h2{
  font-size: 2.5rem;
}
.textSect1 p{
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.bodySect2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
 .ImgComp img{
   width: 100%; 
 }
.ImgComp,.paragraphPoz{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}
.paragraphPoz {
  flex-direction:column ;
  margin-left: 5rem;
  margin-right: 14rem;
  width: 100%;
}
.paragraphPoz p{
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  text-align:left;
  color:#9fabb2 ;
}
.paragraphPoz h2{
  padding-bottom: 10px;
}
.bodySect3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  text-align: center;
}
.bodySect3 h1{
  margin-bottom: 2rem;
  }
.bodySect3 p{
  color:#9fabb2 ;
  font-size:1.6rem ;
  margin: 0 20%;
}
.bodySect3 img{
  margin-top: 8rem;
}
.subtitleClass h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.subtitleClass p{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#9fabb2 ;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin: 0 5%;
}
.container h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.container p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color:#9fabb2 ;
  margin-bottom: 10rem;
}
.Icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  margin-bottom: 10rem;
}
.text{
  width: 100%;
}
.text h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:2rem;
}
.text p{
  color:#9fabb2 ;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 25%;

}
.buttonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 9rem;
  gap: 1.2rem;
}
.buttonDiv button{
  width: 250px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  flex-direction: column;
}
.buttonDiv button:first-child{
  background-color:  #26baa4;
  box-shadow: 10px 20px 20px rgba(0,0,0,0.3);

}
.buttonDiv button:last-child{
  background-color:#6173ff;   
  box-shadow: 10px 20px 20px rgba(0,0,0,0.3);
}
footer{
  background-color: green;
  width: 100%;
  padding:20px 50px;
}

.footer1{
  display: flex;
  justify-content: center;
  align-items: center;
}


.pozaLogo{
  width: 5%;
}

.pozaLogo img{
  width: 100%;
}
.linkCom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 3rem;
}
.iconS{
display: flex;
justify-content: right;
align-items: center;
gap: 20px;

}
@media only screen and (max-width: 700px){
  
  body{
    width:100%;

  }
  .buttonDiv{
    flex-direction: column;
  }
  .bodySect2{
    flex-direction: column;
  }
  .paragraphPoz{
  text-align: left;
  width: 50%;
  padding: 50px;
  }
  .bodySect3 img{
   width: 50%;
  }
  .subtitleClass{
    text-align: center;
  }
  .container img{
    flex-direction: colum;
  }
  .Icons{
    flex-direction: colum;
    width: 100% ;
  }
 }










